:root {
  --blue: #03a4ed;
  --coral: #ea706a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

/* HEADER */

header {
  background: #ffffff;
  border-bottom: 0.06rem solid #eee;
  position: sticky;
  top: 0;
  min-height: 6.25rem;
  z-index: 50;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3.75rem 9.4rem;
  height: 6.25rem;
}

.logo img {
  height: 3.7rem;
  display: block;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-left: auto;
  margin-right: 6.25rem;
}

.nav-links a {
  text-decoration: none;
  color: #1c2430;
  font-weight: 400;
  font-size: 1.4rem;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: var(--coral);
}

.nav-btn {
  background: var(--coral);
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  font-weight: 500;
  padding: 0.45rem;
  text-align: center;
  font-size: 1.38rem;
  border-radius: 12.5rem;
  white-space: nowrap;
}

.nav-btn:hover {
  background-color: var(--blue);
  box-shadow: 0 0.63rem 1.38rem rgba(255, 107, 74, 0.35);
}

.nav-links a:first-child {
  color: var(--coral);
}

/**************** HERO ************/
.hero {
  position: relative;
  padding: 0;
  overflow: hidden;
  background-image: url(./img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: 21.9rem;
  background-position: left top;
}

.hero-section {
  display: flex;
  padding-left: 10rem;
}

.hero-visual {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.hero-visual img {
  width: 100%;
  max-width: 62.5rem;
  height: auto;
}

.hero-intro {
  flex: 1;
  margin-top: 11.25rem;
}

.label {
  display: block;
  color: var(--coral);
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

.hero h1 {
  font-size: 3.7rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 0.94rem;
}

.hero h1 .b1 {
  color: var(--blue);
}

.hero h1 .b2 {
  color: var(--coral);
}

.hero-intro p {
  font-size: 1.38rem;
  line-height: 1.9;
  color: #666;
  margin-bottom: 2.2rem;
  max-width: 43.75rem;
}

.hero-actions {
  display: flex;
  align-items: center;
  gap: 2.8rem;
  flex-wrap: wrap;
  margin-bottom: 4.4rem;
}

.btn {
  padding: 0.75rem 0;
  border-radius: 6.25rem;
  font-weight: 500;
  font-size: 1.37rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.63rem;
  width: 16.25rem;
}

.btn-blue {
  background: var(--blue);
  color: #fff;
  transition: background-color 0.4s ease;
}

.btn-blue:hover {
  background: var(--coral);
}

.phone {
  display: flex;
  align-items: center;
  gap: 1.13rem;
}

.icon-phone {
  width: 4.1rem;
  height: 4.1rem;
  background: linear-gradient(135deg, #ff7b54, #ff5e62);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-phone ion-icon {
  color: #fff;
  font-size: 1.6rem;
}

.phone span {
  color: var(--coral);
  font-size: 1.7rem;
  font-weight: 600;
}

.dots {
  display: flex;
  gap: 1.13rem;
  font-weight: 500;
  padding-left: 1.5rem;
  font-size: 1.7rem;
  color: #000;
}

.dots .on {
  color: var(--coral);
  position: relative;
}

.dots span {
  position: relative;
  font-size: 1.7rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dots span:hover {
  color: var(--coral);
}

.dots span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.4rem;
  height: 0.13rem;
  background: var(--coral);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.dots span:hover::after {
  transform: scaleX(1);
}
/************************* SERVICES **************************/
.services-section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 11.3rem 1.5rem;
  overflow: hidden;
}

.dotted {
  position: absolute;
  width: 31.3rem;
  height: 31.3rem;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  z-index: 1;
}

.dot-top {
  top: 0;
  left: 0;
  background-image: url("./img/top-bg.jpg");
}

.dot-bottom {
  bottom: 0;
  right: 0;
  background-image: url("./img/bottom-bg.jpg");
}

.header-group {
  text-align: center;
  position: relative;
  margin-bottom: 4rem;
  z-index: 2;
}

.mark {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 800;
  color: rgba(254, 226, 226, 0.568);
  text-transform: uppercase;
  transform: translateY(5rem);
}

.main-title {
  position: relative;
  font-size: 2.5rem;
  font-weight: 800;
  color: #1f2937;
  line-height: 1.4;
  z-index: 2;
}

.text-blue {
  color: var(--blue);
}

.text-coral {
  color: var(--coral);
}

.cards-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.3rem;
  margin: 6.8rem 0;
  flex: 0 1 22.5rem;
  flex-wrap: wrap;
}

.service-card {
  flex: 1 1 20rem;
  max-width: 31.3rem;
  background: #fff;
  border: 0.07rem solid #f0f0f0;
  border-radius: 1.9rem;
  padding: 1.25rem 2.2rem;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.05);
  min-height: 26.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.7rem 1.9rem rgba(0, 0, 0, 0.1);
}

.service-card:nth-child(2) {
  min-height: 7.5rem;
}

.card-title {
  font-size: 1.9rem;
  font-weight: 800;
  color: #111827;
  margin-bottom: 2.5rem;
}

.card-icon {
  margin-bottom: 2.5rem;
}

.card-icon img {
  width: 5.7rem;
}

.card-divider {
  width: 100%;
  height: 0.07rem;
  margin: 1.25rem 0;
  background-color: #f3f4f6;
}

.card-desc {
  font-size: 1.4rem;
  color: #777;
}

.pagination-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #fecaca;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dot:hover {
  background-color: #fca5a5;
}

.dot.active {
  width: 0.82rem;
  height: 0.82rem;
  background-color: #f97316;
  cursor: pointer;
}

.header-group,
.cards-flex,
.pagination-dots {
  z-index: 5;
}

.service-card {
  z-index: 6;
  background: #ffffff;
}

/****************** section3 *************************/

.about-section {
  max-width: 112.5rem;
  margin: auto;
  padding: 6.25rem 1.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.4rem;
  align-items: center;
}

/* Left Side */
.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right Side */
.content-side {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.description {
  font-size: 1.25rem;
  color: #6b7280;
  max-width: 48.8rem;
}

/* Stats Area */
.stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  margin-top: 0.07rem;
}

.stat-box {
  display: flex;
  flex-direction: column;
}

.stat-box img {
  width: 3.5rem;
  margin-bottom: 1.2rem;
}

.stat-number {
  font-size: 3.5rem;
  font-weight: 800;
  color: #222;
  margin-bottom: 0.5rem;
}

.stat-label {
  color: var(--coral);
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.stat-subtext {
  border-top: 0.07rem solid #eee;
  padding-top: 1.4rem;
  font-size: 1.4rem;
  line-height: 1.7;
  color: #777;
}
/**************************section 4******************************/
.portfolio-section {
  width: 100%;
  margin: 0 auto;
  padding: 5rem 1.8rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.portfolio-section::before {
  content: "";
  position: absolute;
  top: 6.25rem;
  left: 3.2rem;
  width: 26.2rem;
  height: 26.2rem;
  background-image: url("./img/protfolio-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  z-index: 0;
}

.portfolio-title {
  font-size: 2.5rem !important;
  margin: 0 auto 2.5rem auto;
  text-align: center;
  max-width: 43.7rem;
}

.portfolio-container {
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  position: relative;
  margin-top: 7.5rem;
}

.portfolio-item {
  position: relative;
  cursor: pointer;
  min-height: 26.25rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  min-height: 26.25rem;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

/* white effect  on hover */
.portfolio-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: 0.3s;
  z-index: 1;
}

.portfolio-item:hover::after {
  opacity: 1;
}

.portfolio-overlay {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  left: auto;
  width: 18.75rem;
  height: 15rem;
  background: linear-gradient(165deg, #fd7d46f8, #f53535);
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 1rem 0 1rem 0;
  text-align: left;
  opacity: 0;
  transform: translateY(0.9375rem);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 2;
  box-shadow: 0 0.5rem 1.25rem rgba(238, 73, 73, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-overlay h3 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 1.25rem 1.25rem 0;
  line-height: 1.3;
}

.portfolio-overlay p {
  font-size: 1.25rem;
  opacity: 0.9;
  margin: 0 1.25rem 1.25rem 0;
  line-height: 1.3;
}

.portfolio-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 50%;
  background: var(--coral);
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 3;
  opacity: 0.7;
  transition: all 0.2s ease;
}

.portfolio-arrow:hover {
  opacity: 1;
  background: #ef4444;
}
.arrow-left {
  left: 0;
}
.arrow-right {
  right: 0;
}
.portfolio-section .pagination-dots {
  margin-top: 3.75rem;
}
/***************************section 5 prices******************/
.pricing-section {
  width: 100%;

  overflow: visible;
  padding-top: 5rem;
  position: relative;
  z-index: 1;
}
.pricing-container {
  max-width: 93.75rem;
  margin: 0 auto;
}
.pricing-bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 43.8rem;
  height: 60.7rem;
  background-image: url("./img/stats-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  pointer-events: none;
  z-index: 1;
}
.pricing-bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 25rem;
  height: 56.25rem;
  background: url("./img/stats-bg2.jpg") no-repeat;
  background-size: contain;
  background-position: right top;
  pointer-events: none;
  z-index: 1;
}
.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.9rem;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

/* Pricing Card Details */
.pricing-card {
  border-radius: 2rem;
  padding: 2.5rem 1.4rem;
  border: 1px solid #f3f4f6;
  box-shadow: 0 0.7rem 1.9rem -0.4rem rgba(156, 163, 175, 0.312);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pricing-card:nth-child(1) {
  background-image: url("./img/starter-plan.jpg");
}

.pricing-card:nth-child(2),
.pricing-card:nth-child(3) {
  background-image: url("./img/advanced.jpg");
}

.plan-name {
  font-size: 1.9rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 1.25rem;
}

/* Price Blocks */
.price-box {
  margin-bottom: 2.5rem;
}
.original-price {
  font-size: 1.5rem;
  color: var(--coral);
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}
.current-price {
  font-size: 2.9rem;
  font-weight: 800;
  color: var(--coral);
  line-height: 1;
}

/* Features List  */
.features-list {
  list-style: none;
  width: 100%;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.features-list li {
  font-size: 1.6rem;
  color: #6b7280;
}

/* Buttons  */
.action-btn {
  display: inline-block;
  width: 100%;
  max-width: 11.875rem;
  padding: 0.75rem 0.7rem;
  border-radius: 1.6rem;
  background-color: var(--blue);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
.action-btn:hover {
  background-color: var(--coral);
}
/* *****************section 6*********************************************** */
.seo-banner {
  position: relative;
  width: 100%;
  z-index: 3;
  max-width: 93.8rem;
  margin: 4.4rem auto;
  background-image: url("./img/email-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  padding: 5rem 2.5rem;
  text-align: center;
  box-sizing: border-box;
  font-family: sans-serif;
  box-shadow: 0 0.7rem 1.6rem rgba(0, 0, 0, 0.1);
}

/* Heading Styling */
.seo-heading {
  color: #ffffff;
  font-size: 2.1rem;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 0.04rem;
}

.seo-form {
  background-color: #ffffff;
  border-radius: 3.2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  max-width: 71.9rem;
  margin: 0 auto;
  height: 5.7rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.input-group {
  flex: 1;
  padding: 0 1rem;
}

.seo-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.75rem 0;
  font-size: 1.1rem;
  color: #333333;
}

.seo-input::placeholder {
  color: #94a3b8;
}

.form-divider {
  width: 2px;
  height: 3.75rem;
  background-color: #e2e8f0;
}

/* Blue Subscribe Button */
.seo-btn {
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 3.2rem;
  width: 13.75rem;
  height: 3.75rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.seo-btn:hover {
  background-color: var(--coral);
}
/************************section 7******************/
.project-section {
  position: relative;
  overflow: hidden;
}
.project-bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 46.9rem;
  height: 100%;
  background-image: url("./img/stars-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  pointer-events: none;
  z-index: 1;
}

.project-section-container {
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 2;
  max-width: 100rem;
  padding: 5rem 1.25rem;
  box-sizing: border-box;
}
.project-division {
  display: flex;
  gap: 1.9rem;
  align-items: stretch;
  height: 50rem;
}

/* Left Video*/

.main-display {
  flex: 1;
  position: relative;
  border-radius: 1.9rem;
  overflow: hidden;
  height: 100%;
}

.main-display iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.video-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent 60%);
}

.floating-badge {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 12.5rem;
  padding: 1.7rem 1.9rem;
  background: linear-gradient(135deg, #ff7a59, #ff5b52);
  border-bottom-right-radius: 1.9rem;
  color: white;
  z-index: 5;
}

.floating-badge h3 {
  margin: 0;
  font-size: 1.9rem;
  font-weight: 700;
}

.floating-badge p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
}

/* right*/

.sidebar-tabs {
  width: 30.7rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  height: 100%;
}

/*Cards*/

.project-tab {
  position: relative;
  flex: 1;
  width: 100%;
  border: none;
  border-radius: 1.5rem;
  overflow: hidden;
  background: white;
  cursor: pointer;
  transition: 0.35s;
  padding: 0;
}

.project-tab:hover {
  transform: translateY(-0.4rem);
}

/*Images*/

.tab-bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-tab::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.12);
}

.tab-corner-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.2rem 1.75rem;
  background: linear-gradient(135deg, #ff7a59, #ff5b52);
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
  border-bottom-right-radius: 1.4rem;
  z-index: 2;
}

.project-tab.active {
  background: linear-gradient(135deg, #ff7a59, #ff5b52);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1rem 2.2rem rgba(255, 122, 89, 0.35);
}

.project-tab.active::after {
  display: none;
}

.project-tab.active .tab-bg-img,
.project-tab.active .tab-corner-label {
  display: none;
}

.tab-content-wrapper {
  text-align: center;
  color: white;
}

.tab-title {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
}

.tab-subtitle {
  display: block;
  margin-top: 0.63rem;
  font-size: 1.2rem;
  opacity: 0.95;
}

/* *****************************section 8******************/
.contact-section {
  box-sizing: border-box;
  padding: 7.5rem 0;
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.contact-bg-left {
  position: absolute;
  left: 0;
  top: 7.5rem;
  width: 21.9rem;
  height: 23.8rem;
  background: url("./img/map-bg.jpg") no-repeat;
  background-size: contain;
}
.contact-container {
  display: flex;
  position: relative;
  z-index: 2;
  width: 85%;
  align-items: flex-start;
  margin: 0 auto;
}
.contact-info-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}
.map-wrapper {
  width: 100%;
  height: 27.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.05);
}
.map-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contact-details-row {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
  padding-left: 1.25rem;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-circle {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: var(--coral);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icon-circle ion-icon {
  font-size: 1.5rem;
  color: #fff;
}

.text-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.text-group a {
  text-decoration: none;
  color: var(--coral);
  font-weight: 500;
  font-size: 1.4rem;
  transition: opacity 0.2s;
}
.contact-form-wrapper {
  flex: 1;
  position: relative;
}
.contact-form-card {
  position: relative;
  margin-top: 3.2rem;
  z-index: 4;
  padding: 1.25rem;
  height: 37.5rem;
  right: 1.25rem;
  box-sizing: border-box;
  background: url("./img/form-bg.jpg") no-repeat;
  border-radius: 2.2rem;
  background-size: 100% 100%;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.06);

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group {
  margin-bottom: 1.75rem;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem 0.25rem;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  font-size: 1rem;
  outline: none;
  color: #424242;
  background: transparent;
  transition: border-color 0.3s;
}

.form-group input::placeholder {
  color: #b0bec5;
  font-weight: 400;
}

.form-group input:focus {
  border-bottom-color: var(--blue);
}
.submit-btn {
  border: none;
}
/************************* footer*************/

.main-footer {
  position: relative;
  overflow: hidden;
  padding: 8.8rem 0 5.7rem;
  background: #fff;
}

.main-footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4.4rem;
  width: 100%;
  height: 13.4rem;

  background: url("./img/footer-bg.jpg") no-repeat top center;
  background-size: cover;

  z-index: 0;
}
.footer-container,
.footer-bottom {
  position: relative;
  z-index: 2;
}
.footer-container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1.2fr;
  gap: 4.4rem;
  align-items: start;
}

.footer-email {
  color: #999999;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  margin: 1.25rem 0;
}
.social-icons {
  display: flex;
  gap: 0.75rem;
  margin-top: 1.6rem;
}

.social-btn {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background: var(--blue);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.social-btn ion-icon {
  font-size: 1.9rem;
}

.social-btn:hover {
  background: var(--coral);
}

.column-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2a2a2a;
  margin: 0 0 1.5rem 0;
}
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer-links a {
  text-decoration: none;
  color: #aaaaaa;
  font-size: 1.3rem;
  font-weight: 400;
  transition: color 0.2s;
}

.subscribe-text {
  color: #aaaaaa;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 0 1.25rem 0;
}
.subscribe-form {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.6rem 0.5rem;
  border-radius: 1.9rem;
  background-color: var(--blue);
  width: 100%;
  max-width: 34.4rem;
  box-sizing: border-box;
}

.subscribe-form input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.subscribe-form input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  color: #ffffff;
  font-size: 1rem;
}

.subscribe-form button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  color: #ffffff;
  font-size: 1.2rem;
  transition: transform 0.2s;
}

.footer-bottom {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
  padding-bottom: 1.25rem;
  margin-top: 5rem;
  padding-top: 2.5rem;
  border-top: 2px solid #eeeeee;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-bottom p {
  font-size: 0.9rem;
  color: #777777;
  margin: 0;
  font-weight: 400;
}

.footer-bottom p a {
  text-decoration: none;
  color: var(--coral);
  font-weight: 500;
  transition: color 0.2s ease;
}
.footer-bottom p a:hover {
  color: var(--blue);
}
